body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.db{
  display: flex;
  gap: 20px;
}

.menu{
  width: 55%;
  border-right: 1px solid black;
}

.add{
  width: 45%;
}

h1,h2{
  margin: 20px;
}

input{
  margin-right: 15px;
}

.itm{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  /* width: 40%; */
}

.itm h4{
  text-transform: capitalize;
}

.menu-item-data{
  position: relative;
}

.prc{
  position: absolute;
  right: 46%;
}

.authdiv{
  margin-left: 40px;
}